 
 /* Responsive design for smaller/ larger screens */

 @media only screen and (max-height: 750px) {

     body .typewriterPaper img {
         height: 25vw;
     }

     body .typewriterPaper {
         top: -7%;
     }

     body .typewriterText {
         top: -19%;
         width: 15.5vw;
     }


     body {
         font-size: 90%;
     }

     body .lightContainer {
         height: 2.8vw;
         Width: 2.8vw;
     }

 }

 @media only screen and (min-height: 1075px) {
     body .typewriterPaper {
         top: -5%;
     }
 }





 /* Background styling and styling to 'split' the page up into a top and bottom (simulating the NEMA machine) */

 body {
     background-color: #404c5a;
     margin-top: 0px;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     overflow-x: hidden;
     overflow-y: hidden;
     font-family: 'Lato', sans-serif;
 }

 a {
     color: #b9a133;
 }

 em {
     color: #d1b16e;
 }

 .topHalf {
     position: absolute;
     top: 0%;
     height: 32vw;
     width: 105%;
     background-image: linear-gradient(#343a46, #404c5a);
     margin-left: -2vw;
 }

 .bottomHalf {
     position: absolute;
     top: 40%;
     height: 25vw;
     width: 105%;
     background-image: linear-gradient(#343a46, #404c5a);
     margin-left: -2vw;
 }

 .nemaDivision {
     height: 0.2vw;
     position: absolute;
     top: 40%;
     width: 99%;
     background-color: grey;
 }







 /* Help Page */

 .helpPage {
     visibility: hidden;
 }

 .helpBackground {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     height: 100vh;
     width: 100vw;
     z-index: 4;
     background-color: black;
     opacity: 0.8;
 }

 .helpPaper {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     min-height: 50vh;
     width: auto;
     background-image: linear-gradient(#343a46, #404c5a);
     box-shadow: 0px 0px 20px 0.5px white;
     z-index: 5;
     border-radius: 1rem;
     padding: 3rem;
 }

 .helpText {
     flex-grow: 1;
     z-index: 6;
     text-align: center;
     color: white;
 }

 .closeHelp {
     position: absolute;
     top: 5%;
     left: 50%;
     transform: translate(-50%, -50%);
     cursor: pointer;
     z-index: 5;
 }

 .closeHelp:hover img {
     height: 3.5vw;
 }

 .closeHelp img {
     height: 3vw;
     width: auto;
 }







 /* Tooltips */

 .tooltip {
     position: absolute;
     top: 45%;
     left: 20%;
     transform: translate(-50%, -50%);
     display: flex;
     justify-content: center;
     align-items: center;
     width: 15vw;
     height: auto;
     background-image: linear-gradient(#343a46, #404c5a);
     box-shadow: 0px 0px 50px 20px black;
     z-index: 5;
     border: solid 2px white;
     border-radius: 1rem;
     padding: 1rem;
     opacity: 0;
     transition: 0.4s;
     color: white;
     text-align: center;
 }

 .tooltip2 {
     position: absolute;
     top: 40%;
     left: 73%;
     transform: translate(-50%, -50%);
     display: flex;
     justify-content: center;
     align-items: center;
     width: 13vw;
     height: auto;
     background-image: linear-gradient(#343a46, #404c5a);
     box-shadow: 0px 0px 50px 20px black;
     z-index: 5;
     border: solid 2px white;
     border-radius: 1rem;
     padding: 1rem;
     opacity: 0;
     transition: 0.4s;
     color: white;
     text-align: center
 }








 /* Styling for the cryptex container and the 10 'wheels' within it */

 .cryptexContainer {
     height: 11vw;
     width: 25vw;
     position: absolute;
     top: 5%;
     left: 10%;
     border: 2px solid black;
     border-radius: 10px;
     box-shadow: inset -0.5px 0px 60px 15px black, -0.5px 0px 3px 2px black, 5px -4px 10px -5px white;
 }

 form {
     display: flex;
     flex-direction: row;
     justify-content: center;
 }

 .cryptexBox {
     background-color: black;
     height: 1.75vw;
     width: 1.75vw;
     color: #b9a133;
     text-align: center;
     border: 0.001vw solid grey;
     font-size: 1.25rem;
     margin-right: 0.35rem;
     box-shadow: inset 0px 0px 3px 0.05px white;
 }

 .cryptexBoxRed {
     background-color: #a83017;
     height: 1.75vw;
     width: 1.75vw;
     color: #b9a133;
     text-align: center;
     border: 0.01vw solid grey;
     font-size: 1.25rem;
     box-shadow: inset 0px 0px 3px 0.05px white;
 }

 .inbetweenCryptex {
     width: 1.75vw;
     height: 0.25vw;
     background-color: #171d29;
     border: 0.01vw solid grey;
 }

 select::-webkit-scrollbar {
     width: 0px;
     background-color: transparent;
 }


 .letterBox,
 .letterBox2,
 .letterBox3,
 .letterBox4,
 .letterBox5,
 .letterBox6,
 .letterBox7,
 .letterBox8,
 .letterBox9,
 .letterBox10 {
     display: inline;
 }

 .letterBox10 option,
 input {
     background: #a83017;
 }

 .letterBox10 {
     margin-left: 4px;
 }

 input,
 option,
 textarea {
     font-size: 1.5vw;
     font-weight: 400;
     color: #b9a133;
     background: black;
     text-align: center;
 }

 select {
     cursor: pointer;
     width: 2vw;
     height: 2vw;
     margin-left: -0.05vw;
     color: #b9a133;
     background: black;
     border: 0.05vw solid white;
     box-shadow: 0px 0px 2px 0.5px white;
 }

 select:checked {
     color: white;
 }

 select:disabled {
     color: #b9a133;
     background: black;
 }







 /* Styling for the typewriter paper and the associated text area */

 .typewriterPaper {
     position: absolute;
     top: -8%;
     left: 40%;
     height: 30vw;
     width: auto;
     text-align: center;
 }

 .typewriterPaper img {
     height: 28vw;
     width: auto;
     z-index: 1;
 }

 .typewriterText {
     position: relative;
     top: -25%;
     left: -51%;
     height: 10vw;
     width: 18vw;
     z-index: 2;
     font-family: 'Inconsolata', monospace;
     font-family: 'Lekton', sans-serif;
     font-family: 'Special Elite', cursive;
     font-size: 3vw;
     border: none;
     font-size: 160%;
     color: black;
     font-weight: 400;
     text-transform: uppercase;
     text-align: left;
 }

 textarea {
     border: none;
     background-color: transparent;
     resize: none;
     outline: none;
 }







 /* Styling for the various stickers and bolts on the machine */

 .sticker {
     background-color: #2b2e35;
     position: absolute;
     top: 43%;
     left: 84%;
     height: 8vw;
     width: 3vw;
     text-align: center;
     border: 2px solid #e5e4e9;
     border-radius: 5px;
     box-shadow: inset 0px 0px 15px 1px black, 0px 0px 1px 1px black;
 }

 .stickerBolt {
     position: relative;
     top: -2%;
     left: 37%;
     background-color: #e5e4e9;
     height: 0.75vw;
     width: 0.75vw;
     border-radius: 40px;
     box-shadow: -1px 1px 5px 0.5px black, inset 0.5px -1px 3px 0.5px black;
 }

 .stickerBolt2 {
     position: relative;
     top: 9%;
     left: 37%;
     background-color: #e5e4e9;
     height: 0.75vw;
     width: 0.75vw;
     border-radius: 40px;
     box-shadow: -1px -1px 5px 0.5px black, inset 0.5px -1px 3px 0.5px black;
 }

 .voltSticker {
     background-color: #2b2e35;
     position: absolute;
     top: 91%;
     left: 88.5%;
     height: 3.5vw;
     width: 2vw;
     border: 2px solid #e5e4e9;
     border-radius: 5px;
     box-shadow: inset 0px 0px 7.5px 1px black, 0px 0px 1px 1px black;
 }

 .voltText {
     text-align: center;
     color: #e5e4e9;
     font-size: 1vw;
     margin-left: -0.05vw;
     margin-top: 0.4vw;
 }

 .voltBolt1 {
     position: relative;
     left: 31%;
     top: -3%;
     background-color: #e5e4e9;
     height: 0.75vw;
     width: 0.75vw;
     border-radius: 40px;
     box-shadow: -1px 1px 5px 0.5px black, inset 0.5px -1px 3px 0.5px black;
 }

 .voltBolt2 {
     position: relative;
     left: 31%;
     top: -11%;
     background-color: #e5e4e9;
     height: 0.75vw;
     width: 0.75vw;
     border-radius: 40px;
     box-shadow: -1px -1px 5px 0.5px black, inset 0.5px -1px 3px 0.5px black;
 }

 .zellwegenSticker {
     display: flex;
     align-items: center;
     position: absolute;
     top: 30%;
     left: 25%;
     width: 8vw;
     height: 3vw;
     background-color: #2b2e35;
     border: 2px solid #e5e4e9;
     border-radius: 5px;
     box-shadow: inset 0px 0px 10px 1px black, 0px 0px 1px 1px black;
 }

 .zellwegenText {
     color: #e5e4e9;
     font-size: 70%;
     text-align: center;
     margin: 0 auto;
 }

 .zellwegenBolt1 {
     position: relative;
     left: -3%;
     background-color: #e5e4e9;
     height: 0.75vw;
     width: 0.75vw;
     border-radius: 40px;
     box-shadow: -1px 1px 5px 0.5px black, inset 0.5px -1px 3px 0.5px black;
 }

 .zellwegenBolt2 {
     position: relative;
     left: 2%;
     background-color: #e5e4e9;
     height: 0.75vw;
     width: 0.75vw;
     border-radius: 40px;
     box-shadow: -1px 1px 5px 0.5px black, inset 0.5px -1px 3px 0.5px black;
 }

 .yellowSticker {
     position: absolute;
     top: 5%;
     left: 72.5%;
     height: 5vw;
     width: 23vw;
     background-color: #b9a133;
     border-radius: 10px;
     box-shadow: inset 1px -1px 5px 1px white, inset 0px 3px 15px 0.5px black;
 }

 .yellowStickerText {
     text-align: center;
     margin: 0 auto;
     font-size: 110%;
 }

 .yellowStickerBolt {
     position: relative;
     left: 2%;
     background-color: #e5e4e9;
     height: 0.75vw;
     width: 0.75vw;
     border-radius: 40px;
     box-shadow: -1px 1px 5px 0.5px black, inset 0.5px -1px 3px 0.5px black;
 }

 .yellowStickerBolt2 {
     position: relative;
     left: -2%;
     background-color: #e5e4e9;
     height: 0.75vw;
     width: 0.75vw;
     border-radius: 40px;
     box-shadow: -1px 1px 5px 0.5px black, inset 0.5px -1px 3px 0.5px black;
 }


 .yellowStickerBorder {
     display: flex;
     align-items: center;
     border: 2px solid black;
     margin: .2vw;
     vertical-align: center;
     height: 4.2vw;
     width: 22.3vw;
     border-radius: 10px;
 }


 .bolt1 {
     position: absolute;
     top: 33%;
     left: 12%;
     height: 2.5vw;
     width: 2.5vw;
     border-radius: 40px;
     background-color: #1d2228;
     box-shadow: inset 0.5px -1px 3px 0.5px white, -2px 2px 15px 1px black;
 }

 .bolt2 {
     position: absolute;
     top: 33%;
     left: 85%;
     height: 2.5vw;
     width: 2.5vw;
     border-radius: 40px;
     background-color: #1d2228;
     box-shadow: inset 0.5px -1px 3px 0.5px white, -2px 2px 15px 1px black;
 }

 .boltHead1 {
     position: relative;
     top: 6%;
     left: 45%;
     transform: rotate(-40deg);
     height: 2vw;
     width: 0.2vw;
     background-color: black;
     box-shadow: 1px 1px 3px 0.1px white;
 }

 .boltHead2 {
     position: relative;
     top: 10%;
     left: 45%;
     transform: rotate(-60deg);
     height: 2vw;
     width: 0.2vw;
     background-color: black;
     box-shadow: 1px 1px 3px 0.1px white;
 }

 .sticker3 {
     background-color: #2b2e35;
     position: absolute;
     top: 20%;
     left: 90%;
     height: 7vw;
     width: 2vw;
     text-align: center;
     border: 2px solid #e5e4e9;
     border-radius: 5px;
     box-shadow: inset 0px 0px 10px 1px black, 0px 0px 1px 1px black;
 }

 .stickerBolt5 {
     position: relative;
     top: -5%;
     left: 30%;
     background-color: #e5e4e9;
     height: 0.75vw;
     width: 0.75vw;
     border-radius: 40px;
     box-shadow: -1px 1px 5px 0.5px black, inset 0.5px -1px 3px 0.5px black;
 }

 .stickerBolt6 {
     position: relative;
     top: 5%;
     left: 30%;
     background-color: #e5e4e9;
     height: 0.75vw;
     width: 0.75vw;
     border-radius: 40px;
     box-shadow: -1px 1px 5px 0.5px black, inset 0.5px -1px 3px 0.5px black;
 }

 .arrowArm {
     Position: relative;
     top: 7%;
     left: 45.5%;
     height: 4vw;
     width: 0.2vw;
     background-color: #e5e4e9;
     margin: 0;
 }

 .arrowHead {
     border: solid #e5e4e9;
     border-width: 0 3px 3px 0;
     display: inline-block;
     padding: 4px;
     position: relative;
     top: -7%;
     left: 0%
 }

 .down {
     transform: rotate(45deg);
     -webkit-transform: rotate(45deg);
 }

 .dials {
     position: absolute;
     top: 69%;
     left: 88%;
 }

 .dialsBackground {
     background-color: #0f1219;
     height: 10vw;
     width: 3vw;
     border-radius: 50px;
     border: 3px solid black;
     box-shadow: -0.5px 0px 3px 2px black, 4px -3px 8px -5px white, inset 0px 0px 15px 1px black;
 }

 .dial1 {
     position: relative;
     top: 17%;
     background-color: black;
     height: 2.7vw;
     width: 2.7vw;
     border: 2px solid #404c5a;
     border-radius: 50px;
     box-shadow: -0.5px 2px 2px grey;
 }

 .dial2 {
     position: relative;
     top: 25%;
     background-color: black;
     height: 2.7vw;
     width: 2.7vw;
     border: 2px solid #404c5a;
     border-radius: 50px;
     box-shadow: -0.5px 2px 2px grey;
 }

 .bolt {
     background-color: #171d29;
     position: absolute;
     top: 75%;
     left: 5%;
     height: 2vw;
     width: 2vw;
     border: 5px solid black;
     border-radius: 40px;
     box-shadow: -0.5px 0px 3px 2px black, 4px -3px 8px -5px white, inset 0px 0px 3px 1px black
 }

 .boltReflection {
     background-color: #fbffff;
     position: relative;
     height: .5vw;
     width: .5vw;
     border: 2px solid #404c5a;
     border-radius: 40px;
     top: 15%;
     left: 10%;
     box-shadow: inset 0.5px -1px 3px 0.5px black;
 }


 .label {
     color: #e5e4e9;
     font-size: 1vw;
     margin: .4vw;
     margin-top: .7vw;
 }

 .slider {
     background-color: black;
     position: absolute;
     top: 41.5%;
     left: 89%;
     height: 11vw;
     width: 0.5vw;
     box-shadow: -0.5px 0px 3px 2px black, 4px -3px 8px -5px white;
 }

 .sliderLever {
     position: relative;
     top: 30%;
     height: 1.75vw;
     width: 0.75vw;
     background-color: #282f39;
     box-shadow: inset -1px 2px 8px -3px white, inset 1px -2px 1px 0px black;
     border-radius: 2px;
 }

 .cryptexLock {
     background-color: black;
     position: absolute;
     top: 23%;
     left: 3%;
     height: 5vw;
     width: 2.35vw;
     box-shadow: -0.5px 0px 3px 2px black, 4px -3px 8px -5px white;
 }

 .lockLever {
     cursor: pointer;
     display: flex;
     justify-content: center;
     position: relative;
     top: 0%;
     height: 1.75vw;
     width: 2.3vw;
     background-color: #8d0e15;
     box-shadow: inset 0px 4px 5px -3px white, inset 0px -2px 10px 4px #460d06;
     border-radius: 2px;
 }

 .leverHighlight {
     position: relative;
     top: 40%;
     height: 0.05vw;
     width: 1.9vw;
     background-color: white;
     box-shadow: 0px 0px 4px 3px white;
     opacity: 0.4;
 }

 .questionMark {
     cursor: pointer;
     display: flex;
     justify-content: center;
     align-items: center;
     position: absolute;
     top: 50%;
     left: 4%;
     height: 5vw;
     width: 5vw;
     border-radius: 100px;
     background-color: #1d2228;
     box-shadow: inset 0.5px -1px 3px 0.5px white, -2px 2px 15px 1px black;
 }

 .questionMark img {
     height: 2.5vw;
     width: auto;
 }

 .questionMark:hover {
     box-shadow: inset 0.5px -1px 3px 0.5px white, -2px 2px 15px 1px black, 0px 0px 20px 3px white;
     transition: 0.3s;
 }







 /* Styling for the analogue counter */

 .counterContainer {
     display: flex;
     justify-content: center;
     align-items: center;
     position: absolute;
     top: 23%;
     left: 73%;
     width: 10vw;
     height: 4vw;
     background-color: #222417;
     box-shadow: -0.5px 0px 3px 2px black, 5px -4px 10px -5px white, inset -3px 5px 20px 4px black;
 }

 .counter {
     position: relative;
     display: inline;
     margin: 0.4vw;
     font-size: 150%;
     font-family: 'Inconsolata', monospace;
     color: #edecd0;
 }

 .counterLever {
     background-color: black;
     position: absolute;
     top: 22%;
     left: 88%;
     height: 5vw;
     width: 0.5vw;
     box-shadow: -0.5px 0px 3px 2px black, 4px -3px 8px -5px white;

 }

 #pseudoCounter {
     display: none;
 }

 .counterLeverHandle {
     cursor: pointer;
     position: relative;
     top: 5%;
     height: 1.75vw;
     width: 0.75vw;
     background-color: #282f39;
     box-shadow: inset -1px 2px 8px -3px white, inset 1px -2px 1px 0px black;
     border-radius: 2px;
     border: none;
 }








 /* Light up text */

 .lightupLetters {
     display: flex;
     flex-direction: row;
     position: absolute;
     top: 43%;
     left: 21%;
 }

 .lightupLetters2 {
     display: flex;
     flex-direction: row;
     position: absolute;
     top: 50%;
     left: 23%;
 }

 .lightupLetters3 {
     display: flex;
     flex-direction: row;
     position: absolute;
     top: 57%;
     left: 25%;
 }

 .lightContainer {
     display: flex;
     justify-content: center;
     background-color: #181a0c;
     height: 3vw;
     width: 3vw;
     border-radius: 50px;
     box-shadow: -0.5px 0px 3px 2px black, 4px -3px 8px -5px white;
 }

 .lightRow {
     display: flex;
     justify-content: center;
     margin-left: 2.7vw;
 }

 .lightupText {
     font-size: 150%;
     color: #3c3918;
     align-self: center;
 }






 /* Typewriter */


 .keysBackground {
     background-image: linear-gradient(#0c0f14, #21252e);
     height: 17vw;
     width: 68vw;
     position: absolute;
     top: 82%;
     left: 50%;
     transform: translate(-50%, -50%);
     border: 5px solid black;
     border-radius: 20px;
     box-shadow: -1px 3px 5px 0.5px white, 1px 3px 5px 0.5px white, inset 4px 15px 15px 10px black, inset -5px 15px 15px 10px black;
 }

 .typewriterLetters {
     display: flex;
     position: absolute;
     top: 7.5%;
     left: 5.5%;
 }

 .typewriterLetters2 {
     display: flex;
     position: absolute;
     top: 30%;
     left: 10%;
 }

 .typewriterLetters3 {
     display: flex;
     position: absolute;
     top: 53%;
     left: 13%;
 }

 .keyContainer {
     display: flex;
     justify-content: center;
     flex-direction: row;
     background-color: black;
     height: 3vw;
     width: 3vw;
     border-radius: 50px;
     border: 2px solid #404c5a;
     box-shadow: -0.5px 2px 2px grey;
 }

 .keyboardRow {
     display: flex;
     justify-content: center;
     margin-left: 2.3vw;
     background-color: black;
     height: 3vw;
     width: 3vw;
     border-radius: 50px;
     border: 2px solid #404c5a;
     box-shadow: -0.5px 2px 2px grey;
 }

 .typewriterKeysText {
     align-self: center;
     font-size: 120%;
     color: #FFF8DC;
 }

 .blankContainerTypewriter1 .typewriterKeysText {
     color: black;
 }

 .spaceBar {
     position: absolute;
     top: 190%;
     left: 46.5%;
     transform: translate(-50%, -50%);
     height: 2vw;
     width: 60vw;
     background-color: #414954;
     border-radius: 20px;
     box-shadow: inset 4px -1px 6px 3px black, inset 0px 1px 5px 2px white;
 }
